/* ## Grid (sitewide)
 * ========================================================================== */

/**
 * Usage: Core, generic.
 *
 * Notes:
 * 1. Negate extra gutter on right of asymmetric layout so grid width, and 
 *    hence column widths, can be calculated correctly.
 * 2. Add back in missing extra gutter on right of asymmetric layout (ie the 
 *    column that reaches the right hand side of the viewport), so the right 
 *    edge of the column lines up correctly.
 */

.o-grid {
  display: flex;
  margin-right: -$whitespace-Gutter-single;
  margin-left: -$whitespace-Gutter-single;
  flex-wrap: wrap;

  &--asymmetric\@XS {

    @include breakpoint($breakpoint-XS) {
      margin-right: -$whitespace-Gutter-double; /* [1] */
    }

    @include breakpoint($breakpoint-LG) {
      margin-right: -$whitespace-Gutter-triple; /* [1] */
    }
  }

  &--asymmetric\@SM {

    @include breakpoint($breakpoint-SM) {
      margin-right: -$whitespace-Gutter-double; /* [1] */
    }

    @include breakpoint($breakpoint-LG) {
      margin-right: -$whitespace-Gutter-triple; /* [1] */
    }
  }

  &--asymmetric\@MS {

    @include breakpoint($breakpoint-MS) {
      margin-right: -$whitespace-Gutter-double; /* [1] */
    }

    @include breakpoint($breakpoint-LG) {
      margin-right: -$whitespace-Gutter-triple; /* [1] */
    }
  }

  &--asymmetric\@MD {

    @include breakpoint($breakpoint-MD) {
      margin-right: -$whitespace-Gutter-double; /* [1] */
    }

    @include breakpoint($breakpoint-LG) {
      margin-right: -$whitespace-Gutter-triple; /* [1] */
    }
  }

  &--asymmetric\@ML {

    @include breakpoint($breakpoint-ML) {
      margin-right: -$whitespace-Gutter-double; /* [1] */
    }

    @include breakpoint($breakpoint-LG) {
      margin-right: -$whitespace-Gutter-triple; /* [1] */
    }
  }

  &--asymmetric\@LG {

    @include breakpoint($breakpoint-LG) {
      margin-right: -$whitespace-Gutter-triple; /* [1] */
    }
  }

  &--align-items-center {
    align-items: center;
  }

  &--align-items-center\@MD {

    @include breakpoint($breakpoint-MD) {
      align-items: center;
    }
  }

  &--row-reverse\@MD {

    @include breakpoint($breakpoint-MD) {
      flex-direction: row-reverse;
    }
  }
}

.o-grid__item {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
  padding-right: $whitespace-Gutter-single;
  padding-left: $whitespace-Gutter-single;
  flex-grow: 0;

  &--equal-height\@XS {

    @include breakpoint($breakpoint-XS) {
      display: flex;
    }
  }

  &--equal-height\@SM {

    @include breakpoint($breakpoint-SM) {
      display: flex;
    }
  }

  &--equal-height\@MS {

    @include breakpoint($breakpoint-MS) {
      display: flex;
    }
  }

  &--equal-height\@MD {

    @include breakpoint($breakpoint-MD) {
      display: flex;
    }
  }

  &--equal-height\@ML {

    @include breakpoint($breakpoint-ML) {
      display: flex;
    }
  }

  &--equal-height\@LG {

    @include breakpoint($breakpoint-LG) {
      display: flex;
    }
  }

  &--last {

    &.u-1\/12\@XS,
    &.u-2\/12\@XS,
    &.u-3\/12\@XS,
    &.u-4\/12\@XS,
    &.u-5\/12\@XS,
    &.u-6\/12\@XS,
    &.u-7\/12\@XS,
    &.u-8\/12\@XS,
    &.u-9\/12\@XS,
    &.u-10\/12\@XS,
    &.u-11\/12\@XS,
    &.u-12\/12\@XS {

      .o-grid--asymmetric\@XS & {

        @include breakpoint($breakpoint-XS) {
          padding-right: $whitespace-Gutter-double; /* [2] */
        }

        @include breakpoint($breakpoint-LG) {
          padding-right: $whitespace-Gutter-triple; /* [2] */
        }
      }
    }

    &.u-1\/12\@SM,
    &.u-2\/12\@SM,
    &.u-3\/12\@SM,
    &.u-4\/12\@SM,
    &.u-5\/12\@SM,
    &.u-6\/12\@SM,
    &.u-7\/12\@SM,
    &.u-8\/12\@SM,
    &.u-9\/12\@SM,
    &.u-10\/12\@SM,
    &.u-11\/12\@SM,
    &.u-12\/12\@SM {

      .o-grid--asymmetric\@SM & {

        @include breakpoint($breakpoint-SM) {
          padding-right: $whitespace-Gutter-double; /* [2] */
        }

        @include breakpoint($breakpoint-LG) {
          padding-right: $whitespace-Gutter-triple; /* [2] */
        }
      }
    }

    &.u-1\/12\@MS,
    &.u-2\/12\@MS,
    &.u-3\/12\@MS,
    &.u-4\/12\@MS,
    &.u-5\/12\@MS,
    &.u-6\/12\@MS,
    &.u-7\/12\@MS,
    &.u-8\/12\@MS,
    &.u-9\/12\@MS,
    &.u-10\/12\@MS,
    &.u-11\/12\@MS,
    &.u-12\/12\@MS {

      .o-grid--asymmetric\@MS & {

        @include breakpoint($breakpoint-MS) {
          padding-right: $whitespace-Gutter-double; /* [2] */
        }

        @include breakpoint($breakpoint-LG) {
          padding-right: $whitespace-Gutter-triple; /* [2] */
        }
      }
    }

    &.u-1\/12\@MD,
    &.u-2\/12\@MD,
    &.u-3\/12\@MD,
    &.u-4\/12\@MD,
    &.u-5\/12\@MD,
    &.u-6\/12\@MD,
    &.u-7\/12\@MD,
    &.u-8\/12\@MD,
    &.u-9\/12\@MD,
    &.u-10\/12\@MD,
    &.u-11\/12\@MD,
    &.u-12\/12\@MD {

      .o-grid--asymmetric\@MD & {

        @include breakpoint($breakpoint-MD) {
          padding-right: $whitespace-Gutter-double; /* [2] */
        }

        @include breakpoint($breakpoint-LG) {
          padding-right: $whitespace-Gutter-triple; /* [2] */
        }
      }
    }

    &.u-1\/12\@ML,
    &.u-2\/12\@ML,
    &.u-3\/12\@ML,
    &.u-4\/12\@ML,
    &.u-5\/12\@ML,
    &.u-6\/12\@ML,
    &.u-7\/12\@ML,
    &.u-8\/12\@ML,
    &.u-9\/12\@ML,
    &.u-10\/12\@ML,
    &.u-11\/12\@ML,
    &.u-12\/12\@ML {

      .o-grid--asymmetric\@ML & {

        @include breakpoint($breakpoint-ML) {
          padding-right: $whitespace-Gutter-double; /* [2] */
        }

        @include breakpoint($breakpoint-LG) {
          padding-right: $whitespace-Gutter-triple; /* [2] */
        }
      }
    }

    &.u-1\/12\@LG,
    &.u-2\/12\@LG,
    &.u-3\/12\@LG,
    &.u-4\/12\@LG,
    &.u-5\/12\@LG,
    &.u-6\/12\@LG,
    &.u-7\/12\@LG,
    &.u-8\/12\@LG,
    &.u-9\/12\@LG,
    &.u-10\/12\@LG,
    &.u-11\/12\@LG,
    &.u-12\/12\@LG {

      .o-grid--asymmetric\@LG & {

        @include breakpoint($breakpoint-LG) {
          padding-right: $whitespace-Gutter-triple; /* [2] */
        }
      }
    }
  }
}


/* ### Grid item widths
 * -------------------------------------------------------------------------- */

@media (min-width: $breakpoint-XS) {

  .u-1\/12\@XS {
    max-width: 8.333333333333%;
    flex: 0 0 8.333333333333%;
  }

  .u-2\/12\@XS {
    max-width: 16.666666666667%;
    flex: 0 0 16.666666666667%;
  }

  .u-3\/12\@XS {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .u-4\/12\@XS {
    max-width: 33.333333333333%;
    flex: 0 0 33.333333333333%;
  }

  .u-5\/12\@XS {
    max-width: 41.666666666667%;
    flex: 0 0 41.666666666667%;
  }

  .u-6\/12\@XS {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .u-7\/12\@XS {
    max-width: 58.333333333333%;
    flex: 0 0 58.333333333333%;
  }

  .u-8\/12\@XS {
    max-width: 66.666666666667%;
    flex: 0 0 66.666666666667%;
  }

  .u-9\/12\@XS {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .u-10\/12\@XS {
    max-width: 83.333333333333%;
    flex: 0 0 83.333333333333%;
  }

  .u-11\/12\@XS {
    max-width: 91.666666666667%;
    flex: 0 0 91.666666666667%;
  }

  .u-12\/12\@XS {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (min-width: $breakpoint-SM) {

  .u-1\/12\@SM {
    max-width: 8.333333333333%;
    flex: 0 0 8.333333333333%;
  }

  .u-2\/12\@SM {
    max-width: 16.666666666667%;
    flex: 0 0 16.666666666667%;
  }

  .u-3\/12\@SM {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .u-4\/12\@SM {
    max-width: 33.333333333333%;
    flex: 0 0 33.333333333333%;
  }

  .u-5\/12\@SM {
    max-width: 41.666666666667%;
    flex: 0 0 41.666666666667%;
  }

  .u-6\/12\@SM {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .u-7\/12\@SM {
    max-width: 58.333333333333%;
    flex: 0 0 58.333333333333%;
  }

  .u-8\/12\@SM {
    max-width: 66.666666666667%;
    flex: 0 0 66.666666666667%;
  }

  .u-9\/12\@SM {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .u-10\/12\@SM {
    max-width: 83.333333333333%;
    flex: 0 0 83.333333333333%;
  }

  .u-11\/12\@SM {
    max-width: 91.666666666667%;
    flex: 0 0 91.666666666667%;
  }

  .u-12\/12\@SM {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (min-width: $breakpoint-MS) {

  .u-1\/12\@MS {
    max-width: 8.333333333333%;
    flex: 0 0 8.333333333333%;
  }

  .u-2\/12\@MS {
    max-width: 16.666666666667%;
    flex: 0 0 16.666666666667%;
  }

  .u-3\/12\@MS {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .u-4\/12\@MS {
    max-width: 33.333333333333%;
    flex: 0 0 33.333333333333%;
  }

  .u-5\/12\@MS {
    max-width: 41.666666666667%;
    flex: 0 0 41.666666666667%;
  }

  .u-6\/12\@MS {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .u-7\/12\@MS {
    max-width: 58.333333333333%;
    flex: 0 0 58.333333333333%;
  }

  .u-8\/12\@MS {
    max-width: 66.666666666667%;
    flex: 0 0 66.666666666667%;
  }

  .u-9\/12\@MS {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .u-10\/12\@MS {
    max-width: 83.333333333333%;
    flex: 0 0 83.333333333333%;
  }

  .u-11\/12\@MS {
    max-width: 91.666666666667%;
    flex: 0 0 91.666666666667%;
  }

  .u-12\/12\@MS {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (min-width: $breakpoint-MD) {

  .u-1\/12\@MD {
    max-width: 8.333333333333%;
    flex: 0 0 8.333333333333%;
  }

  .u-2\/12\@MD {
    max-width: 16.666666666667%;
    flex: 0 0 16.666666666667%;
  }

  .u-3\/12\@MD {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .u-4\/12\@MD {
    max-width: 33.333333333333%;
    flex: 0 0 33.333333333333%;
  }

  .u-5\/12\@MD {
    max-width: 41.666666666667%;
    flex: 0 0 41.666666666667%;
  }

  .u-6\/12\@MD {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .u-7\/12\@MD {
    max-width: 58.333333333333%;
    flex: 0 0 58.333333333333%;
  }

  .u-8\/12\@MD {
    max-width: 66.666666666667%;
    flex: 0 0 66.666666666667%;
  }

  .u-9\/12\@MD {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .u-10\/12\@MD {
    max-width: 83.333333333333%;
    flex: 0 0 83.333333333333%;
  }

  .u-11\/12\@MD {
    max-width: 91.666666666667%;
    flex: 0 0 91.666666666667%;
  }

  .u-12\/12\@MD {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@include breakpoint($breakpoint-ML) {

  .u-1\/12\@ML {
    max-width: 8.333333333333%;
    flex: 0 0 8.333333333333%;
  }

  .u-2\/12\@ML {
    max-width: 16.666666666667%;
    flex: 0 0 16.666666666667%;
  }

  .u-3\/12\@ML {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .u-4\/12\@ML {
    max-width: 33.333333333333%;
    flex: 0 0 33.333333333333%;
  }

  .u-5\/12\@ML {
    max-width: 41.666666666667%;
    flex: 0 0 41.666666666667%;
  }

  .u-6\/12\@ML {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .u-7\/12\@ML {
    max-width: 58.333333333333%;
    flex: 0 0 58.333333333333%;
  }

  .u-8\/12\@ML {
    max-width: 66.666666666667%;
    flex: 0 0 66.666666666667%;
  }

  .u-9\/12\@ML {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .u-10\/12\@ML {
    max-width: 83.333333333333%;
    flex: 0 0 83.333333333333%;
  }

  .u-11\/12\@ML {
    max-width: 91.666666666667%;
    flex: 0 0 91.666666666667%;
  }

  .u-12\/12\@ML {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@include breakpoint($breakpoint-LG) {

  .u-1\/12\@LG {
    max-width: 8.333333333333%;
    flex: 0 0 8.333333333333%;
  }

  .u-2\/12\@LG {
    max-width: 16.666666666667%;
    flex: 0 0 16.666666666667%;
  }

  .u-3\/12\@LG {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .u-4\/12\@LG {
    max-width: 33.333333333333%;
    flex: 0 0 33.333333333333%;
  }

  .u-5\/12\@LG {
    max-width: 41.666666666667%;
    flex: 0 0 41.666666666667%;
  }

  .u-6\/12\@LG {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .u-7\/12\@LG {
    max-width: 58.333333333333%;
    flex: 0 0 58.333333333333%;
  }

  .u-8\/12\@LG {
    max-width: 66.666666666667%;
    flex: 0 0 66.666666666667%;
  }

  .u-9\/12\@LG {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .u-10\/12\@LG {
    max-width: 83.333333333333%;
    flex: 0 0 83.333333333333%;
  }

  .u-11\/12\@LG {
    max-width: 91.666666666667%;
    flex: 0 0 91.666666666667%;
  }

  .u-12\/12\@LG {
    max-width: 100%;
    flex: 0 0 100%;
  }
}


/* ### Push grid items
 * -------------------------------------------------------------------------- */

@media (min-width: $breakpoint-XS) {

  .u-push-1\/12\@XS {
    margin-left: 8.333333333333%;
  }
}

@media (min-width: $breakpoint-SM) {

  .u-push-1\/12\@SM {
    margin-left: 8.333333333333%;
  }
}

@media (min-width: $breakpoint-MS) {

  .u-push-1\/12\@MS {
    margin-left: 8.333333333333%;
  }
}

@media (min-width: $breakpoint-MD) {

  .u-push-1\/12\@MD {
    margin-left: 8.333333333333%;
  }
}

@media (min-width: $breakpoint-ML) {

  .u-push-1\/12\@ML {
    margin-left: 8.333333333333%;
  }
}

@media (min-width: $breakpoint-LG) {

  .u-push-1\/12\@LG {
    margin-left: 8.333333333333%;
  }
}


/* ### Nested grid
 * -------------------------------------------------------------------------- */

/* #### Nested grid: XS
 * .......................................................................... */

.o-grid--span-9\@XS {

  @media (min-width: $breakpoint-XS) {

    .u-1\/9 {
      max-width: 11.111111111111%;
      flex: 0 0 11.111111111111%;
    }

    .u-2\/9 {
      max-width: 22.222222222222%;
      flex: 0 0 22.222222222222%;
    }

    .u-3\/9 {
      max-width: 33.333333333333%;
      flex: 0 0 33.333333333333%;
    }

    .u-4\/9 {
      max-width: 44.444444444444%;
      flex: 0 0 44.444444444444%;
    }

    .u-5\/9 {
      max-width: 55.555555555556%;
      flex: 0 0 55.555555555556%;
    }

    .u-6\/9 {
      max-width: 66.666666666667%;
      flex: 0 0 66.666666666667%;
    }

    .u-7\/9 {
      max-width: 77.777777777778%;
      flex: 0 0 77.777777777778%;
    }

    .u-8\/9 {
      max-width: 88.888888888889%;
      flex: 0 0 88.888888888889%;
    }

    .u-9\/9 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

/* #### Nested grid: SM
 * .......................................................................... */

.o-grid--span-9\@SM {

  @media (min-width: $breakpoint-SM) {

    .u-1\/9 {
      max-width: 11.111111111111%;
      flex: 0 0 11.111111111111%;
    }

    .u-2\/9 {
      max-width: 22.222222222222%;
      flex: 0 0 22.222222222222%;
    }

    .u-3\/9 {
      max-width: 33.333333333333%;
      flex: 0 0 33.333333333333%;
    }

    .u-4\/9 {
      max-width: 44.444444444444%;
      flex: 0 0 44.444444444444%;
    }

    .u-5\/9 {
      max-width: 55.555555555556%;
      flex: 0 0 55.555555555556%;
    }

    .u-6\/9 {
      max-width: 66.666666666667%;
      flex: 0 0 66.666666666667%;
    }

    .u-7\/9 {
      max-width: 77.777777777778%;
      flex: 0 0 77.777777777778%;
    }

    .u-8\/9 {
      max-width: 88.888888888889%;
      flex: 0 0 88.888888888889%;
    }

    .u-9\/9 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

/* #### Nested grid: MS
 * .......................................................................... */

.o-grid--span-9\@MS {

  @media (min-width: $breakpoint-MS) {

    .u-1\/9 {
      max-width: 8.333333333333%;
      flex: 0 0 8.333333333333%;
    }

    .u-2\/9 {
      max-width: 22.222222222222%;
      flex: 0 0 22.222222222222%;
    }

    .u-3\/9 {
      max-width: 25%;
      flex: 0 0 25%;
    }

    .u-4\/9 {
      max-width: 33.333333333333%;
      flex: 0 0 33.333333333333%;
    }

    .u-5\/9 {
      max-width: 41.666666666667%;
      flex: 0 0 41.666666666667%;
    }

    .u-6\/9 {
      max-width: 50%;
      flex: 0 0 50%;
    }

    .u-7\/9 {
      max-width: 77.777777777778%;
      flex: 0 0 77.777777777778%;
    }

    .u-8\/9 {
      max-width: 66.666666666667%;
      flex: 0 0 66.666666666667%;
    }

    .u-9\/9 {
      max-width: 75%;
      flex: 0 0 75%;
    }
  }
}

/* #### Nested grid: MD
 * .......................................................................... */

.o-grid--span-9\@MD {

  @media (min-width: $breakpoint-MD) {


    .u-1\/9 {
      max-width: 11.111111111111%;
      flex: 0 0 11.111111111111%;
    }

    .u-2\/9 {
      max-width: 22.222222222222%;
      flex: 0 0 22.222222222222%;
    }

    .u-3\/9 {
      max-width: 33.333333333333%;
      flex: 0 0 33.333333333333%;
    }

    .u-4\/9 {
      max-width: 44.444444444444%;
      flex: 0 0 44.444444444444%;
    }

    .u-5\/9 {
      max-width: 55.555555555556%;
      flex: 0 0 55.555555555556%;
    }

    .u-6\/9 {
      max-width: 66.666666666667%;
      flex: 0 0 66.666666666667%;
    }

    .u-7\/9 {
      max-width: 77.777777777778%;
      flex: 0 0 77.777777777778%;
    }

    .u-8\/9 {
      max-width: 88.888888888889%;
      flex: 0 0 88.888888888889%;
    }

    .u-9\/9 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

/* #### Nested grid: ML
 * .......................................................................... */

.o-grid--span-9\@ML {

  @media (min-width: $breakpoint-ML) {

    .u-1\/9 {
      max-width: 11.111111111111%;
      flex: 0 0 11.111111111111%;
    }

    .u-2\/9 {
      max-width: 22.222222222222%;
      flex: 0 0 22.222222222222%;
    }

    .u-3\/9 {
      max-width: 33.333333333333%;
      flex: 0 0 33.333333333333%;
    }

    .u-4\/9 {
      max-width: 44.444444444444%;
      flex: 0 0 44.444444444444%;
    }

    .u-5\/9 {
      max-width: 55.555555555556%;
      flex: 0 0 55.555555555556%;
    }

    .u-6\/9 {
      max-width: 66.666666666667%;
      flex: 0 0 66.666666666667%;
    }

    .u-7\/9 {
      max-width: 77.777777777778%;
      flex: 0 0 77.777777777778%;
    }

    .u-8\/9 {
      max-width: 88.888888888889%;
      flex: 0 0 88.888888888889%;
    }

    .u-9\/9 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

/* #### Nested grid: LG
 * .......................................................................... */

.o-grid--span-9\@LG {

  @media (min-width: $breakpoint-LG) {

    .u-1\/9 {
      max-width: 11.111111111111%;
      flex: 0 0 11.111111111111%;
    }

    .u-2\/9 {
      max-width: 22.222222222222%;
      flex: 0 0 22.222222222222%;
    }

    .u-3\/9 {
      max-width: 33.333333333333%;
      flex: 0 0 33.333333333333%;
    }

    .u-4\/9 {
      max-width: 44.444444444444%;
      flex: 0 0 44.444444444444%;
    }

    .u-5\/9 {
      max-width: 55.555555555556%;
      flex: 0 0 55.555555555556%;
    }

    .u-6\/9 {
      max-width: 66.666666666667%;
      flex: 0 0 66.666666666667%;
    }

    .u-7\/9 {
      max-width: 77.777777777778%;
      flex: 0 0 77.777777777778%;
    }

    .u-8\/9 {
      max-width: 88.888888888889%;
      flex: 0 0 88.888888888889%;
    }

    .u-9\/9 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}
