<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Billboard slice</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
  </head>

  <body>





    <main class="c-structure__main-content" id="main-content" role="main">



      <div class="o-layout__major-content">



        <section class="c-billboard-slice" style="">
          <div class="o-layout__container">
            <div class="c-billboard-slice__inner">
              <div class="c-billboard-slice__content-container">
                <div class="c-billboard-slice__content">
                  <h1 class="c-billboard-slice__title">Lorem ipsum <abbr>abbr</abbr> <abbr title="title">abbr title</abbr></h1>
                  <div class="c-billboard-slice__copy">
                    <p>Ut enim ad minim veniam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



        <section class="c-billboard-slice" style="background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/04/82/235624ffcf6f868.jpg); background-position: center center; background-size: cover;">
          <div class="o-layout__container">
            <div class="c-billboard-slice__inner">
              <div class="c-billboard-slice__content-container">
                <div class="c-billboard-slice__content">
                  <h1 class="c-billboard-slice__title"><strong>Lorem ipsum</strong> dolor sit amet</h1>
                  <div class="c-billboard-slice__copy">
                    <p>Ut enim ad minim veniam, quis nostrud <a href="ioug">exercitation ullamco laboris <abbr>abbr</abbr> <abbr title="title">abbr title</abbr></a> nisi ut aliquip ex ea <strong>commodo</strong> consequat.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



        <section class="c-billboard-slice" style="background-color: #00856f; background-image: url(https://www.jisc.ac.uk/sites/default/files/la-background.png); background-position: center center; background-size: cover;">
          <div class="o-layout__container">
            <div class="c-billboard-slice__inner">
              <div class="c-billboard-slice__content-container">
                <div class="c-billboard-slice__content">
                  <h1 class="c-billboard-slice__title">Sed ut perspiciatis</h1>
                  <div class="c-billboard-slice__copy">
                    <p>Ut enim ad minim veniam, quis nostrud <a href="ergerh">exercitation ullamco laboris</a> nisi ut aliquip ex ea <strong>commodo</strong> consequat.</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga</p>
                    <p>Et harum quidem rerum facilis est et expedita distinctio. </p>
                  </div>
                </div>
              </div>
              <div class="c-billboard-slice__foreground-img-container">
                <div class="c-billboard-slice__foreground-img" style="background-image: url(https://www.jisc.ac.uk/sites/default/files/la-hero4.jpg); background-position: center center; background-size: cover;">
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



        <section class="c-billboard-slice" style="background-color: #c65010;">
          <div class="o-layout__container">
            <div class="c-billboard-slice__inner">
              <div class="c-billboard-slice__content-container">
                <div class="c-billboard-slice__content">
                  <h1 class="c-billboard-slice__title">My Jisc</h1>
                  <div class="c-billboard-slice__copy">
                    <p>Tools and information to manage and get the most from your Jisc membership.</p>
                  </div>
                  <p class="c-billboard-slice__cta">
                    <a class="c-button c-button--ghost-dark-bg" href=".">Log in/Register</a>
                  </p>
                </div>
              </div>
              <div class="c-billboard-slice__foreground-img-container">
                <div class="c-billboard-slice__foreground-img" style="background-image: url(https://via.placeholder.com/400x300); background-position: center center; background-size: cover;">
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



      </div>



    </main>





    <script src="/js/all.body.min.js"></script>

  </body>
</html>