<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Box (sitewide)</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
    <style type="text/css">
/* Inline styles in the page BODY for prototyping purposes only, do not use with this component in implementation. */

/* Styles here for prototyping purposes only, do not use with this component in implementation. */

.group {
  padding-bottom: 2.7rem;
  background-color: #fff;
}
.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  clear: both;
}
    </style>
  </head>

  <body>





    <main class="c-structure__main-content" id="main-content" role="main">



      <div class="c-structure__major-content">



        <h1>Box (sitewide)</h1>



        <div class="group">
          <div class="o-layout__container">



            <div class="c-box">
              Box
            </div>

            <div class="o-grid">
              <div class="o-grid__item o-grid__item--equal-height@XS u-12/12@XS">

                <div class="c-box">
                  Box
                </div>

              </div>
            </div>

            <div class="o-grid">
              <div class="o-grid__item o-grid__item--equal-height@MS u-4/12@MS">

                <div class="c-box">
                  Box, demonstrating default equal height visuals once the grid kicks in, by including some long text within the box, so that it wraps over more than one line
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@MS u-4/12@MS">

                <div class="c-box">
                  Box
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@MS u-4/12@MS">

                <div class="c-box">
                  Box
                </div>

              </div>
            </div>

            <h2 style="margin-top: 2.7rem; font-size: 3.6rem; font-weight: 400; line-height: 4.5rem;">Heading</h2>

            <div class="o-grid">
              <div class="o-grid__item o-grid__item--equal-height@MD u-3/12@MD">

                <div class="c-box">
                  Box
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@MD u-3/12@MD">

                <div class="c-box">
                  Box
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@MD u-3/12@MD">

                <div class="c-box">
                  Box, demonstrating default equal height visuals once the grid kicks in, by including some long text within the box, so that it wraps over more than one line
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@MD u-3/12@MD">

                <div class="c-box">
                  Box
                </div>

              </div>
            </div>

            <div class="o-grid">
              <div class="o-grid__item o-grid__item--equal-height@XS u-6/12@XS">

                <div class="c-box">
                  Box
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@XS u-6/12@XS">

                <div class="c-box">
                  Box, demonstrating default equal height visuals once the grid kicks in, by including some long text within the box, so that it wraps over more than one line
                </div>

              </div>
            </div>

            <h2 style="margin-top: 2.7rem; font-size: 3.6rem; font-weight: 400; line-height: 4.5rem;">Heading</h2>

            <div class="o-grid">
              <div class="o-grid__item o-grid__item--equal-height@XS u-12/12@XS u-4/12@MD">

                <div class="c-box">
                  Box
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@XS u-6/12@XS u-4/12@MD">

                <div class="c-box">
                  Box
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@XS u-6/12@XS u-4/12@MD">

                <div class="c-box">
                  Box, demonstrating default equal height visuals once the grid kicks in, by including some long text within the box, so that it wraps over more than one line
                </div>

              </div>
            </div>

            <h2 style="margin-top: 2.7rem; font-size: 3.6rem; font-weight: 400; line-height: 4.5rem;">Heading</h2>

            <div class="o-grid">
              <div class="o-grid__item o-grid__item--equal-height@XS u-6/12@XS u-3/12@MD">

                <div class="c-box">
                  Box
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@XS u-6/12@XS u-3/12@MD">

                <div class="c-box">
                  Box, demonstrating default equal height visuals once the grid kicks in, by including some long text within the box, so that it wraps over more than one line
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@XS u-6/12@XS u-3/12@MD">

                <div class="c-box">
                  Box
                </div>

              </div>
              <div class="o-grid__item o-grid__item--equal-height@XS u-6/12@XS u-3/12@MD">

                <div class="c-box">
                  Box
                </div>

              </div>
            </div>
        </div>



      </div>



    </main>





    <script src="/js/all.body.min.js"></script>

  </body>
</html>