<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Breadcrumb</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
  </head>

  <body>




    <main class="c-structure__main-content" id="main-content" role="main">



      <div class="c-structure__major-content">



        <h1>Breadcrumb</h1>
        <br><br><br>



        <h2>Default</h2>
        <br>

        <div class="c-generic-slice c-generic-slice--default">
          <div class="o-layout__container">

            <nav class="c-breadcrumb" aria-label="Breadcrumb" aria-labelledby="site-breadcrumb">
              <p class="c-breadcrumb__title" id="site-breadcrumb">You are in:</p>
              <ul class="c-breadcrumb__list">
                <li class="c-breadcrumb__item c-breadcrumb__item--first">
                  <a class="c-breadcrumb__copy c-breadcrumb__copy--link" href="iuwgef">Site title</a>
                </li>
                <li class="c-breadcrumb__item">
                  <a class="c-breadcrumb__copy c-breadcrumb__copy--link" href="wrgwrh">Section title</a>
                </li>
                <li class="c-breadcrumb__item">
                  <a class="c-breadcrumb__copy c-breadcrumb__copy--link" href="ytqwfdf">Subsection title might be really long</a>
                </li>
                <li class="c-breadcrumb__item">
                  <span class="c-breadcrumb__copy c-breadcrumb__copy--current" aria-current="page">Current page</span>
                </li>
              </ul>
            </nav>

          </div>
        </div>

        <br><br><br>
        <h2>Has backlink</h2>
        <br>

        <div class="c-generic-slice c-generic-slice--default">
          <div class="o-layout__container">

            <nav class="c-breadcrumb" aria-label="Breadcrumb" aria-labelledby="site-breadcrumb">
              <p class="c-breadcrumb__title" id="site-breadcrumb">You are in:</p>
              <ul class="c-breadcrumb__list">
                <li class="c-breadcrumb__item c-breadcrumb__item--first c-breadcrumb__item--hidden">
                  <a class="c-breadcrumb__copy c-breadcrumb__copy--link" href="iuwgef">Site title</a>
                </li>
                <li class="c-breadcrumb__item c-breadcrumb__item--hidden">
                  <a class="c-breadcrumb__copy c-breadcrumb__copy--link" href="wrgwrh">Section title</a>
                </li>
                <li class="c-breadcrumb__item c-breadcrumb__item--back">
                  <a class="c-breadcrumb__copy c-breadcrumb__copy--link" href="ytqwfdf">Subsection title</a>
                </li>
                <li class="c-breadcrumb__item c-breadcrumb__item--hidden">
                  <span class="c-breadcrumb__copy" aria-current="page">Current page</span>
                </li>
              </ul>
            </nav>

          </div>
        </div>



      </div>



    </main>





    <script src="/js/all.body.min.js"></script>

  </body>
</html>