<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Editable copy</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
  </head>

  <body>





    <main class="c-structure__main-content" id="main-content" role="main">



      <div class="o-layout__major-content">



        <div class="o-layout__container">



          <div class="o-grid">
            <div class="o-grid__item u-6/12@MD">`
              <div class="c-editable-copy c-editable-copy--light-bg">

                <h1>Editable copy</h1>

                <p><abbr title="HyperText Markup Language">HTML</abbr> element usage: <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">HTML elements reference</a>.</p>

              </div>
            </div>
          </div>



          <div class="o-grid">
            <div class="o-grid__item u-6/12@MD">
              <div class="c-editable-copy c-editable-copy--light-bg" style="padding: .1rem 1.8rem 2.7rem; margin-top: 2.7rem; background-color: #fff;">

                <h2>Content sectioning</h2>

                <h3>Headings</h3>
                <h1>heading 1 <strong>strong</strong></h1>
                <h2>heading 2 <strong>strong</strong></h2>
                <h3>heading 3 <strong>strong</strong></h3>
                <h4>heading 4 <strong>strong</strong></h4>
                <h5>heading 5 <strong>strong</strong></h5>
                <h6>heading 6 <strong>strong</strong></h6>

                <h2>Text content</h2>

                <h3>Body copy</h3>
                <p>Lorem ipsum dolor <strong>strong</strong> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>

                <h3>Description list</h3>
                <dl>
                  <dt>Firefox</dt>
                  <dd>
                    A <strong>strong</strong> free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.
                  </dd>
                  <dt>Firefox</dt>
                  <dt>Mozilla Firefox</dt>
                  <dt>Fx</dt>
                  <dd>
                    A free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.
                  </dd>
                  <dt>Firefox</dt>
                  <dd>
                    A free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.
                  </dd>
                  <dd>
                    The Red Panda also known as the Lesser Panda, Wah, Bear Cat or Firefox, is a mostly herbivorous mammal, slightly larger than a domestic cat (60 cm long).
                  </dd>
                </dl>

                <h3>Ordered (numbered) list</h3>
                <ol>
                  <li>Lorem ipsum dolor <strong>strong</strong> sit amet.</li>
                  <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol>
                      <li>Emporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</li>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                          <li>Morbi tempus iaculis urna id. In hac habitasse platea dictumst vestibulum.</li>
                        </ol>
                      </li>
                    </ol>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ol>
                  </li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ol>
                      </li>
                    </ul>
                  </li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                </ol>

                <h3>Unordered (bulleted) list</h3>
                <ul>
                  <li>Lorem ipsum dolor <strong>strong</strong> sit amet.</li>
                  <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul>
                      <li>Emporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</li>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ol>
                  </li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ol>
                      </li>
                    </ul>
                  </li>
                  <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                </ul>

                <h2>Inline text semantics</h2>

                <dl>
                  <dt>Abbreviation element (<code>abbr</code>)</dt>
                  <dd><abbr title="Abbreviation">Abbr</abbr>, with <code>title</code> attribute</dd>
                  <dd><abbr>Abbr</abbr>, without <code>title</code> attribute</dd>
                  <dt>Strong Importance Element (<code>strong</code>)</dt>
                  <dd>Before proceeding, <strong>make sure you understand strong importance</strong>.</dd>
                  <dt><sup>&lt;sup&gt;</sup></dt>
                  <dd>The HTML Superscript element (<code>&lt;sup&gt;</code>) specifies inline text which is to be displayed as superscript for solely typographical reasons.</dd>
                </dl>

                <h3>Links</h3>

                <ul>
                  <li>
                    :link <a href="kuwguir">Default link</a>
                  </li>
                  <li>
                    :visited <a href="//jisc.ac.uk">Links to //jisc.ac.uk, so should be visited</a>
                  </li>
                  <li>:focus
                    <a href="wreheh">Use keyboard to gain focus</a>
                  </li>
                  <li>:hover
                    <a href="e5hejhtj">Use mouse or other pointing device to get :hover</a>
                  </li>
                  <li>:focus:hover
                    <a href="e5hejhtj">Click to get both :focus and :hover</a>
                  </li>
                  <li>:active
                    <a href="e5hejhtj">Click and hold to get :active</a>
                  </li>
                </ul>

              </div>
            </div>
            <div class="o-grid__item u-6/12@MD">
              <div class="c-editable-copy c-editable-copy--dark-bg" style="padding: .1rem 1.8rem 2.7rem; margin-top: 2.7rem; background-color: #333;">

                <h2>Content sectioning</h2>

                <h3>Headings</h3>
                <h1>heading 1 <strong>strong</strong></h1>
                <h2>heading 2 <strong>strong</strong></h2>
                <h3>heading 3 <strong>strong</strong></h3>
                <h4>heading 4 <strong>strong</strong></h4>
                <h5>heading 5 <strong>strong</strong></h5>
                <h6>heading 6 <strong>strong</strong></h6>

                <h2>Text content</h2>

                <h3>Body copy</h3>
                <p>Lorem ipsum dolor <strong>strong</strong> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>

                <h3>Description list</h3>
                <dl>
                  <dt>Firefox</dt>
                  <dd>
                    A <strong>strong</strong> free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.
                  </dd>
                  <dt>Firefox</dt>
                  <dt>Mozilla Firefox</dt>
                  <dt>Fx</dt>
                  <dd>
                    A free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.
                  </dd>
                  <dt>Firefox</dt>
                  <dd>
                    A free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.
                  </dd>
                  <dd>
                    The Red Panda also known as the Lesser Panda, Wah, Bear Cat or Firefox, is a mostly herbivorous mammal, slightly larger than a domestic cat (60 cm long).
                  </dd>
                </dl>

                <h3>Ordered (numbered) list</h3>
                <ol>
                  <li>Lorem ipsum dolor <strong>strong</strong> sit amet.</li>
                  <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol>
                      <li>Emporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</li>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                          <li>Morbi tempus iaculis urna id. In hac habitasse platea dictumst vestibulum.</li>
                        </ol>
                      </li>
                    </ol>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ol>
                  </li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ol>
                      </li>
                    </ul>
                  </li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                </ol>

                <h3>Unordered (bulleted) list</h3>
                <ul>
                  <li>Lorem ipsum dolor <strong>strong</strong> sit amet.</li>
                  <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul>
                      <li>Emporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</li>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ol>
                  </li>
                  <li>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol>
                          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ol>
                      </li>
                    </ul>
                  </li>
                  <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                </ul>

                <h2>Inline text semantics</h2>

                <dl>
                  <dt>Abbreviation element (<code>abbr</code>)</dt>
                  <dd><abbr title="Abbreviation">Abbr</abbr>, with <code>title</code> attribute</dd>
                  <dd><abbr>Abbr</abbr>, without <code>title</code> attribute</dd>
                  <dt>Strong Importance Element (<code>strong</code>)</dt>
                  <dd>Before proceeding, <strong>make sure you understand strong importance</strong>.</dd>
                </dl>

                <h3>Links</h3>

                <ul>
                  <li>
                    :link <a href="kuwguir">Default link</a>
                  </li>
                  <li>
                    :visited <a href="//jisc.ac.uk">Links to //jisc.ac.uk, so should be visited</a>
                  </li>
                  <li>:focus
                    <a href="wreheh">Use keyboard to gain focus</a>
                  </li>
                  <li>:hover
                    <a href="e5hejhtj">Use mouse or other pointing device to get :hover</a>
                  </li>
                  <li>:focus:hover
                    <a href="e5hejhtj">Click to get both :focus and :hover</a>
                  </li>
                  <li>:active
                    <a href="e5hejhtj">Click and hold to get :active</a>
                  </li>
                </ul>

              </div>
            </div>
          </div>



        </div>



      </div>



    </main>





    <script src="/js/all.body.min.js"></script>

  </body>
</html>