<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Feature slice</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
  </head>

  <body>





    <main class="c-structure__main-content" id="main-content" role="main">



      <div class="c-structure__major-content">

        <br><h1>Feature slice</h1>
        <br><br><br>



        <section class="c-feature-slice">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-6/12@MD">
                <div class="c-feature-slice__img">
                  <img src="https://via.placeholder.com/150x75" alt="">
                </div>
              </div>
              <div class="o-grid__item u-5/12@MD u-push-1/12@MD">
                <h2 class="c-feature-slice__title">
                  Nemo enim ipsam voluptatem
                </h2>
                <div class="c-feature-slice__copy">
                  <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, <strong>omnis voluptas assumenda</strong> est, omnis dolor repellendus.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="c-feature-slice c-feature-slice--alt">
          <div class="o-layout__container">
            <div class="o-grid o-grid--row-reverse@MD">
              <div class="o-grid__item u-6/12@MD u-push-1/12@MD">
                <div class="c-feature-slice__img">
                  <img src="https://via.placeholder.com/150x75" alt="">
                </div>
              </div>
              <div class="o-grid__item u-5/12@MD">
                <h2 class="c-feature-slice__title">
                  <a href="uhruogh">Nemo enim ipsam voluptatem</a>
                </h2>
                <div class="c-feature-slice__copy">
                  <p><a href=".">Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
                  <p>Nemo enim ipsam voluptatem <strong>omnis voluptas assumenda</strong> est, omnis dolor repellendus.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="c-feature-slice">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-6/12@MD">
                <div class="c-feature-slice__img">
                  <img src="https://via.placeholder.com/150x75" alt="">
                </div>
              </div>
              <div class="o-grid__item u-5/12@MD u-push-1/12@MD">
                <h2 class="c-feature-slice__title">
                  Nemo enim <strong>ipsam</strong>
                </h2>
                <div class="c-feature-slice__copy">
                  <p><a href="iywgrfgh">Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, <strong>omnis voluptas assumenda</strong> est. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



        <section class="c-feature-slice">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-5/12@MD">
                <h2 class="c-feature-slice__title">
                  Nemo enim ipsam voluptatem
                </h2>
                <div class="c-feature-slice__copy">
                  <p><a href="iywgrfgh">Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, <strong>omnis voluptas assumenda</strong> est, omnis dolor repellendus.</p>
                </div>
              </div>
              <div class="o-grid__item u-6/12@MD u-push-1/12@MD">
                <div class="c-feature-slice__supporting-copy">
                  <p>Quis autem vel eum iure <strong>reprehenderit</strong> qui in ea voluptate velit esse quam nihil molestiae consequatur, <a href="luhrg">vel illum qui dolorem eum fugiat</a> quo voluptas nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="c-feature-slice c-feature-slice--alt">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-5/12@MD">
                <h2 class="c-feature-slice__title">
                  <a href="uhruogh">Nemo enim ipsam voluptatem</a>
                </h2>
                <div class="c-feature-slice__copy">
                  <p><a href="iywgrfgh">Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
                </div>
              </div>
              <div class="o-grid__item u-6/12@MD u-push-1/12@MD">
                <div class="c-feature-slice__supporting-copy">
                  <ul>
                    <li><a href="iywgrfgh">Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil , <strong>omnis voluptas assumenda</strong> est.</li>
                    <li>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae. </li>
                    <li>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="c-feature-slice">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-5/12@MD">
                <h2 class="c-feature-slice__title">
                  Nemo enim ipsam
                </h2>
                <div class="c-feature-slice__copy">
                  <p><a href="iywgrfgh">Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, <strong>omnis voluptas assumenda</strong> est. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
                </div>
              </div>
              <div class="o-grid__item u-6/12@MD u-push-1/12@MD">
                <div class="c-feature-slice__supporting-copy">
                  <h3>Nemo enim ipsam voluptatem</h3>
                  <p><a href="iywgrfgh">Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, <strong>omnis voluptas assumenda</strong> est.</p>
                  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit 
                  laboriosam.</p>
                  <p>Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, <strong>omnis voluptas assumenda</strong> est, omnis dolor repellendus.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



        <section class="c-feature-slice">
          <div class="o-layout__container">
            <div class="o-grid o-grid--row-reverse@MD">
              <div class="o-grid__item u-6/12@MD u-push-1/12@MD">
                <div class="c-feature-slice__img">
                  <img src="https://via.placeholder.com/150x100" alt="">
                </div>
              </div>
              <div class="o-grid__item u-5/12@MD">
                <h2 class="c-feature-slice__title">
                  Nemo enim ipsam
                </h2>
                <div class="c-feature-slice__copy">
                  <p><a href="iywgrfgh">Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, <strong>omnis voluptas assumenda</strong> est. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
                </div>
                <p class="c-feature-slice__cta">
                  <a class="c-button c-button--primary" href="iweugfiwegb">Quis autem vel eum iure</a>
                </p>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



        <section class="c-feature-slice">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-5/12@MD">
                <h2 class="c-feature-slice__title">
                  Excepteur sint occaecat cupidatat non proident
                </h2>
                <div class="c-feature-slice__copy">
                  <p><a href="iywgrfgh">Nam libero tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, <strong>omnis voluptas assumenda</strong> est. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
                </div>
              </div>
              <div class="o-grid__item u-6/12@MD u-push-1/12@MD">
                <div>
                  <div>
                    <h3>TODO Show hide group show/hide title</h3>
                  </div>
                  <div>
                    <h3>TODO Show hide group show/hide title</h3>
                  </div>
                  <div>
                    <h3>TODO Show hide group show/hide title</h3>
                  </div>
                  <div>
                    <h3>TODO Show hide group show/hide title</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



        <section class="c-feature-slice">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-5/12@MD">
                <h2 class="c-feature-slice__title">
                  Ut enim ad minima veniam
                </h2>
                <div class="c-feature-slice__copy">
                  <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                </div>
              </div>
              <div class="o-grid__item u-6/12@MD u-push-1/12@MD">
                <div class="c-feature-slice__supporting-copy">
                  <dl>
                    <dt>
                      <a href="ouhefuoh">Lorem ipsum dolor sit amet</a>
                    </dt>
                    <dd>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</dd>
                    <dt>
                      <a href="khvefew">Ut enim ad minim veniam</a>
                    </dt>
                    <dd>Nisi ut aliquid ex ea commodi consequatur.</dd>
                    <dt>
                      <a href="utqfenljm">Sed ut perspiciatis</a>
                    </dt>
                    <dd>Excepteur sint occaecat cupidatat non proident.</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="c-feature-slice c-feature-slice--alt">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-5/12@MD">
                <h2 class="c-feature-slice__title">
                  Excepteur sint occaecat cupidatat non proident
                </h2>
                <div class="c-feature-slice__copy">
                  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
                </div>
              </div>
              <div class="o-grid__item u-6/12@MD u-push-1/12@MD">
                <div class="c-feature-slice__supporting-copy">
                  <dl>
                    <dt>
                      <a href="pwoekfpoj">Ut enim ad minim veniam</a>
                    </dt>
                    <dd>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <strong>commodo</strong> consequat.</dd>
                    <dt>
                      <a href="iejfiewfjp">Quis nostrud</a>
                    </dt>
                    <dd>Et harum quidem rerum facilis est et expedita distinctio. </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="c-feature-slice">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-5/12@MD">
                <h2 class="c-feature-slice__title">
                  Lorem ipsum dolor sit amet
                </h2>
                <div class="c-feature-slice__copy">
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                </div>
              </div>
              <div class="o-grid__item u-6/12@MD u-push-1/12@MD">
                <div class="c-feature-slice__supporting-copy">
                  <dl>
                    <dt>
                      <a href="iyegfoiji">Nam libero tempore</a>
                    </dt>
                    <dd>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</dd>
                    <dt>
                      <a href="ljehfpip">Temporibus autem quibusdam et aut officiis debitis</a>
                    </dt>
                    <dd>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil , <strong>omnis voluptas assumenda</strong> est.</dd>
                    <dt>
                      <a href="kjefjiioip">Itaque earum rerum hic</a>
                    </dt>
                    <dd>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae. </dd>
                    <dt>
                      <a href="ljehkfoihuf">At vero eos et accusamus et iusto</a>
                    </dt>
                    <dd>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur.</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>

        <br><h1>Feature slice - wide</h1>
        <br><br><br>



        <section class="c-feature-slice">
          <div class="o-layout__container">
            <div class="o-grid o-grid--row-reverse@MD">
              <div class="o-grid__item u-push-1/12@MD u-4/12@MD">
                <div class="c-feature-slice__img">
                  <img src="https://via.placeholder.com/150x100" alt="">
                </div>
              </div>
              <div class="o-grid__item u-7/12@MD">
                <h2 class="c-feature-slice__title">
                  <a href="kwhgefb">Excepteur sint occaecat cupidatat non proident</a>
                </h2>
                <div class="c-feature-slice__copy">
                  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



        <section class="c-feature-slice">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-4/12@MD">
                <div class="c-feature-slice__img">
                  <img src="https://via.placeholder.com/150x100" alt="">
                </div>
              </div>
              <div class="o-grid__item u-push-1/12@MD u-7/12@MD">
                <h2 class="c-feature-slice__title">
                  Excepteur sint occaecat cupidatat non proident
                </h2>
                <div class="c-feature-slice__copy">
                  <p>Ut enim ad minima veniam, <a href="https://www.jisc.ac.uk">quis nostrum exercitationem</a> ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
                  <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, <strong>omnis voluptas assumenda</strong> est, omnis dolor repellendus.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



      </div>



    </main>





    <script src="/js/all.body.min.js"></script>

  </body>
</html>