<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Footnote</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
  </head>

  <body style="padding-bottom: 2.7rem; background-color: #fff;">




    <main class="c-structure__main-content" id="main-content" role="main">



      <div class="c-structure__major-content">



        <div class="o-layout__container">

          <h1>Footnote example</h1>

          <div class="o-grid">
            <div class="o-grid__item u-9/12@MD">

              <h2>In editable copy</h2>

              <div class="c-editable-copy c-editable-copy--light-bg">

                <p>In English, a footnote is normally flagged by a superscripted number immediately following that portion of the text the note references, each such footnote being numbered sequentially. Occasionally a number between brackets or parentheses is used instead, thus: [1], which can also be superscripted, as we do<sup><a href="#TODO-1" id="TODO-1-1" aria-describedby="footnote-label">[1]</a></sup>.</p>
                <p>Nottingham Trent University<sup><a href="#TODO-2" id="TODO-2-1" aria-describedby="footnote-label">[2]</a></sup> helped students to develop digital confidence through authentic tasks for campus-based students using online activities.</p>
                <p>The University of Liverpool<sup><a href="#TODO-3" id="TODO-3-1" aria-describedby="footnote-label">[3]</a></sup> integrated digital literacy with enquiry-based learning. Their case study shows an interesting collaboration between an academic team and library service.</p>
                <p>Although technological developments increasingly make gaming easier to adopt, there are several cultural barriers that affect choices around using games within the curriculum. In their book<sup><a href="#TODO-4" id="TODO-4-1" aria-describedby="footnote-label">[4]</a></sup> on enhancing teaching and learning through games Nicola Whitton and Alex Moseley identify barriers for students and staff.</p>

              </div>

              <h2 style="margin-top: 2.7rem;">End editable copy, start Footnote component</h2>

              <footer class="c-footnote c-footnote--default">
                <h2 class="c-footnote__title" id="footnote-label">Footnotes:</h2>
                <div class="c-footnote__notes">

                  <ol>
                    <li id="TODO-1">
                      <a href="#TODO-1-1" aria-label="Back to content">^</a>
                      <a href="https://en.wikipedia.org/wiki/Help:Footnotes">"Help:Footnotes"</a>. <i>Wikipedia, the Free Encyclopedia</i>. 2019-02-16. Retrieved 2019-06-13.
                    </li>
                    <li id="TODO-2">
                      <a href="#TODO-2-1" aria-label="Back to content">^</a>
                      Developing <abbr title="United Kingdom">UK</abbr> <strong>digital confidence</strong> through authentic tasks - <a href="http://digitalstudent.jiscinvolve.org/wp/files/2015/01/DS02-Developing-digital-confidence-through-authentic-tasks.pdf">http://digitalstudent.jiscinvolve.org/wp/files/2015/01/DS02-Developing-digital-confidence-through-authentic-tasks.pdf</a> (<i class="far fa-file-pdf" aria-hidden="true"></i> <abbr title="Portable Document Format">PDF</abbr>)</li>
                    <li id="TODO-3">
                      <a href="#TODO-3-1" aria-label="Back to content">^</a>
                      Integrating digital literacy with enquiry-based learning - http://digitalstudent.jiscinvolve.org/wp/files/2015/01/DS02-Developing-digital-confidence-through-authentic-tasks.pdf
                    </li>
                    <li id="TODO-4">
                      <a href="#TODO-4-1" aria-label="Back to content">^</a>
                      Using Games to Enhance Learning and Teaching: A Beginner's Guide (Whitton, Nicola and Moseley, Alex 2012) - https://books.google.co.uk/books?id=wniRbc74sTIC&pg=PA202&lpg=PA202&dq=heuristic+learning+jisc&source=bl&ots=5-TfHWY9UK&sig=P85utxkD6dt8z2cs0zi5blzahn0&hl=en&sa=X&ved=0CFQQ6AEwCWoVChMI-oHh44HjyAIVS3c-Ch3rNwQJ#v=onepage&q=heuristic%20learning%20jisc&f=false
                    </li>
                  </ol>

                </li>
              </footer>

            </div>
          </div>



        </div>



      </div>



    </main>





    <script src="/js/all.body.min.js"></script>

  </body>
</html>