<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Generic slice</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
  </head>

  <body>





    <main class="c-structure__main-content" id="main-content" role="main">



      <div class="o-layout__major-content">



        <div class="c-generic-slice c-generic-slice--default c-generic-slice--first c-generic-slice--last">
          <div class="o-layout__container">

            <div class="o-grid">
              <div class="o-grid__item u-9/12@MD">



                <h1 class="c-generic-slice__heading-xl">Generic slice</h1>

                <p class="c-generic-slice__body-copy"><abbr class="c-generic-slice__abbr" title="HyperText Markup Language">HTML</abbr> element usage: <a class="c-generic-slice__link c-generic-slice__link--default" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">HTML elements reference</a>.</p>

                <h2 class="c-generic-slice__heading-l">Content sectioning</h2>

                <h3 class="c-generic-slice__heading-m">Headings</h3>
                <h1 class="c-generic-slice__heading-xl">heading-xl <strong class="c-generic-slice__strong">strong</strong></h1>
                <h2 class="c-generic-slice__heading-l">heading-l <strong class="c-generic-slice__strong">strong</strong></h2>
                <h3 class="c-generic-slice__heading-m">heading-m <strong class="c-generic-slice__strong">strong</strong></h3>
                <h4 class="c-generic-slice__heading-s">heading-s <strong class="c-generic-slice__strong">strong</strong></h4>
                <h5 class="c-generic-slice__heading-xs">heading-xs <strong class="c-generic-slice__strong">strong</strong></h5>
                <h6 class="c-generic-slice__heading-xxs">heading-xxs <strong class="c-generic-slice__strong">strong</strong></h6>

                <h2 class="c-generic-slice__heading-l">Text content</h2>

                <h3 class="c-generic-slice__heading-m">Lead paragraph</h3>
                <p class="c-generic-slice__lead-paragraph">Lorem ipsum dolor <strong class="c-generic-slice__strong">strong</strong> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <h3 class="c-generic-slice__heading-m">Body copy</h3>
                <p class="c-generic-slice__body-copy">Lorem ipsum dolor <strong class="c-generic-slice__strong">strong</strong> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="c-generic-slice__body-copy">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                <p class="c-generic-slice__body-copy">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>

                <h3 class="c-generic-slice__heading-m">Supporting copy</h3>
                <p class="c-generic-slice__supporting-copy">Lorem ipsum dolor <strong class="c-generic-slice__strong">strong</strong> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <h3 class="c-generic-slice__heading-m">Description list</h3>
                <dl class="c-generic-slice__description-list">
                  <dt class="c-generic-slice__description-term">Firefox</dt>
                  <dd class="c-generic-slice__description-details">
                    A <strong class="c-generic-slice__strong">strong</strong> free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.
                  </dd>
                  <dt class="c-generic-slice__description-term">Firefox</dt>
                  <dt class="c-generic-slice__description-term">Mozilla Firefox</dt>
                  <dt class="c-generic-slice__description-term">Fx</dt>
                  <dd class="c-generic-slice__description-details">
                    A free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.
                  </dd>
                  <dt class="c-generic-slice__description-term">Firefox</dt>
                  <dd class="c-generic-slice__description-details">
                    A free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.
                  </dd>
                  <dd class="c-generic-slice__description-details">
                    The Red Panda also known as the Lesser Panda, Wah, Bear Cat or Firefox, is a mostly herbivorous mammal, slightly larger than a domestic cat (60 cm long).
                  </dd>
                </dl>

                <h3 class="c-generic-slice__heading-m">Ordered (numbered) list</h3>
                <ol class="c-generic-slice__list c-generic-slice__list--ordered">
                  <li class="c-generic-slice__list-item">Lorem ipsum dolor <strong class="c-generic-slice__strong">strong</strong> sit amet.</li>
                  <li class="c-generic-slice__list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li class="c-generic-slice__list-item">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol class="c-generic-slice__list c-generic-slice__list--ordered">
                      <li class="c-generic-slice__list-item">Emporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</li>
                      <li class="c-generic-slice__list-item">
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol class="c-generic-slice__list c-generic-slice__list--ordered">
                          <li class="c-generic-slice__list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                          <li class="c-generic-slice__list-item">Morbi tempus iaculis urna id. In hac habitasse platea dictumst vestibulum.</li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                  <li class="c-generic-slice__list-item">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol class="c-generic-slice__list c-generic-slice__list--ordered">
                      <li class="c-generic-slice__list-item">
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul class="c-generic-slice__list c-generic-slice__list--unordered">
                          <li class="c-generic-slice__list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ol>
                  </li>
                  <li class="c-generic-slice__list-item">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul class="c-generic-slice__list c-generic-slice__list--unordered">
                      <li class="c-generic-slice__list-item">
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol class="c-generic-slice__list c-generic-slice__list--ordered">
                          <li class="c-generic-slice__list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ol>
                      </li>
                    </ul>
                  </li>
                  <li class="c-generic-slice__list-item">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul class="c-generic-slice__list c-generic-slice__list--unordered">
                      <li class="c-generic-slice__list-item">
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul class="c-generic-slice__list c-generic-slice__list--unordered">
                          <li class="c-generic-slice__list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="c-generic-slice__list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                </ol>

                <h3 class="c-generic-slice__heading-m">Unordered (bulleted) list</h3>
                <ul class="c-generic-slice__list c-generic-slice__list--unordered">
                  <li class="c-generic-slice__list-item">Lorem ipsum dolor <strong class="c-generic-slice__strong">strong</strong> sit amet.</li>
                  <li class="c-generic-slice__list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li class="c-generic-slice__list-item">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul class="c-generic-slice__list c-generic-slice__list--unordered">
                      <li class="c-generic-slice__list-item">Emporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</li>
                      <li class="c-generic-slice__list-item">
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul class="c-generic-slice__list c-generic-slice__list--unordered">
                          <li class="c-generic-slice__list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                          <li class="c-generic-slice__list-item">Morbi tempus iaculis urna id. In hac habitasse platea dictumst vestibulum.</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="c-generic-slice__list-item">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol class="c-generic-slice__list c-generic-slice__list--ordered">
                       <li class="c-generic-slice__list-item">
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol class="c-generic-slice__list c-generic-slice__list--ordered">
                          <li class="c-generic-slice__list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                  <li class="c-generic-slice__list-item">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ol class="c-generic-slice__list c-generic-slice__list--ordered">
                       <li class="c-generic-slice__list-item">
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ul class="c-generic-slice__list c-generic-slice__list--unordered">
                          <li class="c-generic-slice__list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                      </li>
                    </ol>
                  </li>
                  <li class="c-generic-slice__list-item">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <ul class="c-generic-slice__list c-generic-slice__list--unordered">
                       <li class="c-generic-slice__list-item">
                        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut 
                        perferendis doloribus asperiores repellat.
                        <ol class="c-generic-slice__list c-generic-slice__list--ordered">
                          <li class="c-generic-slice__list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ol>
                      </li>
                    </ul>
                  </li>
                  <li class="c-generic-slice__list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                </ul>

                <h2 class="c-generic-slice__heading-l">Inline text semantics</h2>

                <dl class="c-generic-slice__description-list">
                  <dt class="c-generic-slice__description-term">Abbreviation element (<code class="c-generic-slice__code">abbr</code>)</dt>
                  <dd class="c-generic-slice__description-details"><abbr class="c-generic-slice__abbr" title="Abbreviation">Abbr</abbr>, with <code class="c-generic-slice__code">title</code> attribute.</dd>
                  <dd class="c-generic-slice__description-details"><abbr class="c-generic-slice__abbr">Abbr</abbr>, without <code class="c-generic-slice__code">title</code> attribute.</dd>
                  <dt class="c-generic-slice__description-term">Strong Importance Element (<code class="c-generic-slice__code">strong</code>)</dt>
                  <dd class="c-generic-slice__description-details">Before proceeding, <strong class="c-generic-slice__strong">make sure you understand strong importance</strong>.</dd>
                </dl>

                <h3 class="c-generic-slice__heading-m">Links</h3>

                <ul class="c-generic-slice__list c-generic-slice__list--unordered">
                  <li class="c-generic-slice__list-item">
                    :link <a class="c-generic-slice__link c-generic-slice__link--default" href="kuwguir">Default link</a>
                  </li>
                  <li class="c-generic-slice__list-item">
                    :visited <a class="c-generic-slice__link c-generic-slice__link--default" href="//jisc.ac.uk">Links to //jisc.ac.uk, so should be visited</a>
                  </li>
                  <li class="c-generic-slice__list-item">Link that never shows as visited
                    <a class="c-generic-slice__link c-generic-slice__link--no-visited-style" href="//jisc.ac.uk">Links to //jisc.ac.uk, so should be visited, but looks unvisited</a>
                  </li>
                  <li class="c-generic-slice__list-item">:focus
                    <a class="c-generic-slice__link c-generic-slice__link--default" href="wreheh">Use keyboard to gain focus</a>
                  </li>
                  <li class="c-generic-slice__list-item">:hover
                    <a class="c-generic-slice__link c-generic-slice__link--default" href="e5hejhtj">Use mouse or other pointing device to get :hover</a>
                  </li>
                  <li class="c-generic-slice__list-item">:focus:hover
                    <a class="c-generic-slice__link c-generic-slice__link--default" href="ewgwrhe">Click to get both :focus and :hover</a>
                  </li>
                  <li class="c-generic-slice__list-item">:active
                    <a class="c-generic-slice__link c-generic-slice__link--default" href="outrhotr">Click and hold to get :active</a>
                  </li>
                </ul>



              </div>
            </div>

          </div>
        </div>



      </div>



    </main>





    <script src="/js/all.body.min.js"></script>

  </body>
</html>