<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Jisc header</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
  </head>

  <body>

    <noscript>
      <p>
        <strong style="color: red; font-size: 3rem;">JS is disabled!</strong>
      </p>
      <br>
      <br>
      <br>
    </noscript>

    <h1>Jisc header</h1>
    <p>Jisc header is used as both a <em style="font-style: italic;">Site header</em> and a <em style="font-style: italic;">Site section header</em>.</p>
    <br>
    <br>
    <br>
    <br>
    <br>




    <h2>Site header</h2>
    <br>
    <br>
    <br>
    <h3>--default</h3>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--default">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <span aria-current="page">Site title</span>
            </p>
          </div>

        </div>

      </div>

    </div>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--default">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <a class="c-jisc-header__title-link" href="//www.jisc.ac.uk">Site title can be quite long at times or even longer or may even be really really long</a>
            </p>
          </div>

        </div>

      </div>

    </div>
    <br>
    <br>
    <br>
    <h3>--has-subtitle</h3>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-subtitle">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <span aria-current="page">Site title</span>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__subtitle-subsegment">
              <p class="c-jisc-header__subtitle">Subtitle</p>
            </div>

          </div>

        </div>

      </div>

    </div>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-subtitle">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <a class="c-jisc-header__title-link" href="//www.jisc.ac.uk">Site title</a>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__subtitle-subsegment">
              <p class="c-jisc-header__subtitle">Subtitle can be quite long at times or even longer or may even be really really long</p>
            </div>

          </div>

        </div>

      </div>

    </div>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-subtitle">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <span aria-current="page">Site title can be quite long at times or even longer or may even be really really long</span>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__subtitle-subsegment">
              <p class="c-jisc-header__subtitle">Subtitle</p>
            </div>

          </div>

        </div>

      </div>

    </div>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-subtitle">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <a class="c-jisc-header__title-link" href="//www.jisc.ac.uk">Site title can be quite long at times or even longer or may even be really really long</a>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__subtitle-subsegment">
              <p class="c-jisc-header__subtitle">Subtitle can be quite long at times or even longer or may even be really really long</p>
            </div>

          </div>

        </div>

      </div>

    </div>
    <br>
    <br>
    <br>
    <h3>--has-nav</h3>
    <br>
    <h4>Tabbed nav</h4>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-nav">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <span aria-current="page">Site title with working menu toggle</span>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__menu-trigger-subsegment">
              <p class="c-jisc-header__menu-trigger">
                <button class="c-jisc-header__menu-trigger-button jsJiscHeaderMenuTrigger" id="jisc-header-menu-trigger" data-toggle="toggle-jisc-header-menu">
                  <span class="c-jisc-header__menu-trigger-copy">Menu</span>
                  <i class="fas fa-bars c-jisc-header__menu-trigger-icon" aria-hidden="true"></i>
                </button>
              </p>
            </div>

          </div>

        </div>

      </div>

      <div class="c-jisc-header__menu-supersegment c-jisc-header__menu-supersegment--tabbed is-closed" id="toggle-jisc-header-menu">
        <div class="o-layout__container">

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--primary" aria-labelledby="site-navigation">
            <p class="c-jisc-header__nav-title" id="site-navigation">Site navigation:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="skvhks">Consequat</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="ioehfw">Quas molestias excepturi</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="qwhdgqef">Est et expedita</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

    </div>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-nav">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <a class="c-jisc-header__title-link" href="//www.jisc.ac.uk">Site title</a>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__menu-trigger-subsegment">
              <p class="c-jisc-header__menu-trigger">
                <button class="c-jisc-header__menu-trigger-button">
                  <span class="c-jisc-header__menu-trigger-copy">Menu</span>
                  <i class="fas fa-bars c-jisc-header__menu-trigger-icon" aria-hidden="true"></i>
                </button>
              </p>
            </div>

          </div>

        </div>

      </div>

      <div class="c-jisc-header__menu-supersegment c-jisc-header__menu-supersegment--tabbed is-closed">
        <div class="o-layout__container">

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--primary" aria-labelledby="site-navigation">
            <p class="c-jisc-header__nav-title">Site navigation:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link c-jisc-header__tabbed-nav-copy--current" href="uiwgerfiugb" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Current link</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <span class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--current" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Current span</span>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link c-jisc-header__tabbed-nav-copy--current" href="//www.jisc.ac.uk" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Visited current link</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="//www.jisc.ac.uk">Visited link</a>
              </li>
            </ul>
          </nav>

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--secondary" aria-labelledby="TODO">
            <p class="c-jisc-header__nav-title" id="TODO">TODO Some other navigation, it's purpose to be defined:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="skvhks">Consequat</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="qwhdgqef">Est et expedita</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

    </div>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-nav">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <a class="c-jisc-header__title-link" href="//www.jisc.ac.uk">Site title can be quite long at times or even longer or may even be really really long</a>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__menu-trigger-subsegment">
              <p class="c-jisc-header__menu-trigger">
                <button class="c-jisc-header__menu-trigger-button">
                  <span class="c-jisc-header__menu-trigger-copy">Menu</span>
                  <i class="fas fa-bars c-jisc-header__menu-trigger-icon" aria-hidden="true"></i>
                </button>
              </p>
            </div>

          </div>

        </div>

      </div>

      <div class="c-jisc-header__menu-supersegment c-jisc-header__menu-supersegment--tabbed is-closed">
        <div class="o-layout__container">

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--primary" aria-labelledby="site-navigation">
            <p class="c-jisc-header__nav-title">Site navigation:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link c-jisc-header__tabbed-nav-copy--current" href="uiwgerfiugb" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Current link</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <span class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--current" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Current span</span>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link c-jisc-header__tabbed-nav-copy--current" href="//www.jisc.ac.uk" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Visited current link</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="//www.jisc.ac.uk">Visited link</a>
              </li>
            </ul>
          </nav>

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--secondary" aria-labelledby="TODO">
            <p class="c-jisc-header__nav-title" id="TODO">TODO Some other navigation, it's purpose to be defined:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="skvhks">Consequat</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="qwhdgqef">Est et expedita</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

    </div>
    <br>
    <br>
    <br>
    <h3>--has-subtitle-and-nav</h3>
    <br>
    <h4>Tabbed nav</h4>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-subtitle-and-nav">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <span aria-current="page">Site title</span>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__subtitle-subsegment">
              <p class="c-jisc-header__subtitle">Subtitle</p>
            </div>

            <div class="c-jisc-header__menu-trigger-subsegment">
              <p class="c-jisc-header__menu-trigger">
                <button class="c-jisc-header__menu-trigger-button">
                  <span class="c-jisc-header__menu-trigger-copy">Menu</span>
                  <i class="fas fa-bars c-jisc-header__menu-trigger-icon" aria-hidden="true"></i>
                </button>
              </p>
            </div>

          </div>

        </div>

      </div>

      <div class="c-jisc-header__menu-supersegment c-jisc-header__menu-supersegment--tabbed jsMenuTarget is-closed" id="toggle-jisc-header-menu">
        <div class="o-layout__container">

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--primary" aria-labelledby="site-navigation">
            <p class="c-jisc-header__nav-title">Site navigation:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="skvhks">Consequat</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="ioehfw">Quas molestias excepturi</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="qwhdgqef">Est et expedita</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

    </div>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-subtitle-and-nav">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <a class="c-jisc-header__title-link" href="//www.jisc.ac.uk">Site title</a>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__subtitle-subsegment">
              <p class="c-jisc-header__subtitle">Subtitle can be quite long at times or even longer or may even be really really long</p>
            </div>

            <div class="c-jisc-header__menu-trigger-subsegment">
              <p class="c-jisc-header__menu-trigger">
                <button class="c-jisc-header__menu-trigger-button">
                  <span class="c-jisc-header__menu-trigger-copy">Menu</span>
                  <i class="fas fa-bars c-jisc-header__menu-trigger-icon" aria-hidden="true"></i>
                </button>
              </p>
            </div>

          </div>

        </div>

      </div>

      <div class="c-jisc-header__menu-supersegment c-jisc-header__menu-supersegment--tabbed is-closed">
        <div class="o-layout__container">

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--primary" aria-labelledby="site-navigation">
            <p class="c-jisc-header__nav-title">Site navigation:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link c-jisc-header__tabbed-nav-copy--current" href="uiwgerfiugb" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Current link</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <span class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--current" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Current span</span>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link c-jisc-header__tabbed-nav-copy--current" href="//www.jisc.ac.uk" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Visited current link</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="//www.jisc.ac.uk">Visited link</a>
              </li>
            </ul>
          </nav>

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--secondary" aria-labelledby="TODO">
            <p class="c-jisc-header__nav-title" id="TODO">TODO Some other navigation, it's purpose to be defined:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="skvhks">Consequat</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="qwhdgqef">Est et expedita</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

    </div>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-subtitle-and-nav">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">

            <p class="c-jisc-header__title">
              <span aria-current="page">Site title can be quite long at times or even longer or may even be really really long</span>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__subtitle-subsegment">
              <p class="c-jisc-header__subtitle">Subtitle</p>
            </div>

            <div class="c-jisc-header__menu-trigger-subsegment">
              <p class="c-jisc-header__menu-trigger">
                <button class="c-jisc-header__menu-trigger-button">
                  <span class="c-jisc-header__menu-trigger-copy">Menu</span>
                  <i class="fas fa-bars c-jisc-header__menu-trigger-icon" aria-hidden="true"></i>
                </button>
              </p>
            </div>

          </div>

        </div>

      </div>

      <div class="c-jisc-header__menu-supersegment c-jisc-header__menu-supersegment--tabbed jsMenuTarget is-closed" id="toggle-jisc-header-menu">
        <div class="o-layout__container">

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--primary" aria-labelledby="site-navigation">
            <p class="c-jisc-header__nav-title">Site navigation:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="skvhks">Consequat</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="ioehfw">Quas molestias excepturi</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="qwhdgqef">Est et expedita</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

    </div>
    <br>
    <div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-subtitle-and-nav">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <a class="c-jisc-header__title-link" href="//www.jisc.ac.uk">Site title can be quite long at times or even longer or may even be really really long</a>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__subtitle-subsegment">
              <p class="c-jisc-header__subtitle">Subtitle can be quite long at times or even longer or may even be really really long</p>
            </div>

            <div class="c-jisc-header__menu-trigger-subsegment">
              <p class="c-jisc-header__menu-trigger">
                <button class="c-jisc-header__menu-trigger-button">
                  <span class="c-jisc-header__menu-trigger-copy">Menu</span>
                  <i class="fas fa-bars c-jisc-header__menu-trigger-icon" aria-hidden="true"></i>
                </button>
              </p>
            </div>

          </div>

        </div>

      </div>

      <div class="c-jisc-header__menu-supersegment c-jisc-header__menu-supersegment--tabbed jsMenuTarget is-closed" id="toggle-jisc-header-menu">
        <div class="o-layout__container">

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--primary" aria-labelledby="site-navigation">
            <p class="c-jisc-header__nav-title">Site navigation:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="skvhks">Consequat</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="ioehfw">Quas molestias excepturi</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="qwhdgqef">Est et expedita</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Section header</h2>
    <br>
    <br>
    <br>
    <h3>--default</h3>
    <br>
    <header class="c-jisc-header c-jisc-header--section-header c-jisc-header--default">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <span aria-current="page">Section title</span>
            </p>
          </div>

        </div>

      </div>

    </header>
    <br>
    <br>
    <br>
    <h3>--has-subtitle</h3>
    <br>
    <header class="c-jisc-header c-jisc-header--section-header c-jisc-header--has-subtitle">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <a class="c-jisc-header__title-link" href="TODO">Section title</a>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__subtitle-subsegment">
              <p class="c-jisc-header__subtitle">
                <a class="c-jisc-header__title-link" href="TODO">Section title</a>
              </p>
            </div>

          </div>

        </div>

      </div>

    </header>
    <br>
    <br>
    <br>
    <h3>--has-nav</h3>
    <br>
    <h4>Tabbed nav</h4>
    <br>
    <header class="c-jisc-header c-jisc-header--section-header c-jisc-header--has-nav">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <a class="c-jisc-header__title-link" href="TODO">Section title</a>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__menu-trigger-subsegment">
              <p class="c-jisc-header__menu-trigger">
                <button class="c-jisc-header__menu-trigger-button" id="jisc-header-menu-trigger" data-toggle="toggle-jisc-header-menu">
                  <span class="c-jisc-header__menu-trigger-copy">Menu</span>
                  <i class="fas fa-bars c-jisc-header__menu-trigger-icon" aria-hidden="true"></i>
                </button>
              </p>
            </div>

          </div>

        </div>

      </div>

      <div class="c-jisc-header__menu-supersegment c-jisc-header__menu-supersegment--tabbed is-closed" id="toggle-jisc-header-menu">
        <div class="o-layout__container">

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--primary" aria-labelledby="section-navigation">
            <p class="c-jisc-header__nav-title" id="section-navigation">Section navigation:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="skvhks">Consequat</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="ioehfw">Quas molestias excepturi</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="qwhdgqef">Est et expedita</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

    </header>
    <br>
    <br>
    <br>
    <h3>--has-subtitle-and-nav</h3>
    <br>
    <h4>Tabbed nav</h4>
    <br>
    <header class="c-jisc-header c-jisc-header--section-header c-jisc-header--has-subtitle-and-nav">

      <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

          <div class="c-jisc-header__title-segment">
            <p class="c-jisc-header__title">
              <a class="c-jisc-header__title-link" href="TODO" aria-current="page">Section title</a>
            </p>
          </div>

          <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

            <div class="c-jisc-header__subtitle-subsegment">
              <p class="c-jisc-header__subtitle">Subtitle</p>
            </div>

            <div class="c-jisc-header__menu-trigger-subsegment">
              <p class="c-jisc-header__menu-trigger">
                <button class="c-jisc-header__menu-trigger-button">
                  <span class="c-jisc-header__menu-trigger-copy">Menu</span>
                  <i class="fas fa-bars c-jisc-header__menu-trigger-icon" aria-hidden="true"></i>
                </button>
              </p>
            </div>

          </div>

        </div>

      </div>

      <div class="c-jisc-header__menu-supersegment c-jisc-header__menu-supersegment--tabbed jsMenuTarget is-closed" id="toggle-jisc-header-menu">
        <div class="o-layout__container">

          <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--primary" aria-labelledby="section-navigation">
            <p class="c-jisc-header__nav-title" id="section-navigation">Section navigation:</p>
            <ul class="c-jisc-header__tabbed-nav-list">
              <li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="skvhks">Consequat</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="ioehfw">Quas molestias excepturi</a>
              </li>
              <li class="c-jisc-header__tabbed-nav-item">
                <a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="qwhdgqef">Est et expedita</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

    </header>
    <br>
    <br>
    <br>
    <br>
    <br>





    <script src="/js/all.body.min.js"></script>

    <script>

      const menuShowHide = new ShowHide('.jsJiscHeaderMenuTrigger');
      menuShowHide.init();
      
    </script>

  </body>
</html>