<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Jisc footer</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
  </head>

  <body>





    <main class="c-structure__main-content" id="main-content" role="main">



      <div class="c-structure__major-content">



      </div>



    </main>





    <footer class="c-jisc-footer">
      
      <h2 class="c-jisc-footer__title">Footer</h2>



      <section class="c-jisc-footer__section c-jisc-footer__section--service">
        <div class="o-layout__container">
          <div class="o-grid">
            <div class="o-grid__item u-6/12@MD">

              <h3 class="c-jisc-footer__section-title">Service name</h3>

              <div class="c-jisc-footer__copy">

                <p>Short service description. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

              </div>

              <p class="c-jisc-footer__service-feedback">
                <a class="c-jisc-footer__service-feedback-link" href="kiguwef">
                  <span class="c-jisc-site-footer__service-feedback-link-icons">
                    <i class="far fa-frown" aria-hidden="true"></i>
                    <i class="far fa-meh" aria-hidden="true"></i>
                    <i class="far fa-smile" aria-hidden="true"></i>
                  </span>
                  <span class="c-jisc-footer__service-feedback-link-copy">Give feedback</span>
                </a>
              </p>

            </div>
            <div class="o-grid__item u-3/12@MD">

              <h4 class="c-jisc-footer__section-title">Primary navigation</h4>
              <ul class="c-jisc-footer__list">
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="iureghiuh">This is where</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="rjgrjgn">All the main links</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="ohuiuh">Of your site</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="hesfb">Are repeated to </a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="pijoij">Help your users</a>
                </li>
              </ul>

            </div>
            <div class="o-grid__item u-3/12@MD">

              <h4 class="c-jisc-footer__section-title">Service utilities</h4>
              <ul class="c-jisc-footer__list">
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="wekhjfbw">About</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="kwhg">Contact</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </section>



      <section class="c-jisc-footer__section c-jisc-footer__section--jisc">
        <div class="o-layout__container">
          <div class="o-grid">
            <div class="o-grid__item u-6/12@MD">

              <div class="c-jisc-footer__jisc-brand">
                <h3 class="c-jisc-footer__jisc-logo">
                  <a class="c-jisc-logo" href="https://www.jisc.ac.uk/" title="Go to the Jisc homepage">
                    <img class="c-jisc-logo__img c-jisc-logo__img--jisc-footer" src="/img/jisc-logo.svg" alt="Jisc">
                  </a>
                </h3>
                <div class="c-jisc-footer__jisc-vision">
                  <div class="c-jisc-footer__copy">
                    <p>Vision statement. We’re a membership organisation, providing digital solutions for UK education and research.</p>
                  </div>
                  <p class="c-jisc-footer__jisc-homepage-copy">
                    <a class="c-jisc-footer__jisc-homepage-link" href="https://www.jisc.ac.uk">jisc.ac.uk</a>
                  </p>
                </div>
              </div>

            </div>
            <div class="o-grid__item u-3/12@MD">

              <h4 class="c-jisc-footer__section-title">Jisc product areas</h4>
              <ul class="c-jisc-footer__list">
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/connectivity">Connectivity</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/network/security">Cyber security</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/network/cloud">Cloud</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/analytics">Data and analytics</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/libraries-and-research">Libraries, learning resources and research</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/student-experience">Student experience</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/advice">Advice and guidance</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </section>



      <section class="c-jisc-footer__section c-jisc-footer__section--legal">
        <div class="o-layout__container">

          <h3 class="c-jisc-footer__legal-title">Legal</h3>

          <ul class="c-jisc-footer__legal-list c-jisc-footer__legal-list--primary">
            <li class="c-jisc-footer__legal-list-item">
              <a class="c-jisc-footer__legal-link" href="https://www.jisc.ac.uk/website/privacy-notice">Privacy</a>
            </li>
            <li class="c-jisc-footer__legal-list-item c-jisc-footer__legal-list-item--first">
              <a class="c-jisc-footer__legal-link" href="https://www.jisc.ac.uk/website/cookies">Cookies</a>
            </li>
            <li class="c-jisc-footer__legal-list-item">
              <a class="c-jisc-footer__legal-link" href="https://www.jisc.ac.uk/website/accessibility-statement">Accessibility</a>
            </li>
          </ul>

        </div>
      </section>



    </footer>



    <p><br><br><br><br><br>xXxXxXxXxXxXxXxXxXxX</p>



    <footer class="c-jisc-footer">
      
      <h2 class="c-jisc-footer__title">Footer</h2>



      <section class="c-jisc-footer__section c-jisc-footer__section--service">
        <div class="o-layout__container">
          <div class="o-grid">
            <div class="o-grid__item u-6/12@MD">

              <h3 class="c-jisc-footer__section-title">My Jisc</h3>

              <div class="c-jisc-footer__copy">

                <p>Tools for managing your Jisc membership.</p>

              </div>

              <p class="c-jisc-footer__service-feedback">
                <a class="c-jisc-footer__service-feedback-link" href="kiguwef">
                  <span class="c-jisc-site-footer__service-feedback-link-icons">
                    <i class="far fa-frown" aria-hidden="true"></i>
                    <i class="far fa-meh" aria-hidden="true"></i>
                    <i class="far fa-smile" aria-hidden="true"></i>
                  </span>
                  <span class="c-jisc-footer__service-feedback-link-copy">Give feedback</span>
                </a>
              </p>

            </div>
            <div class="o-grid__item u-3/12@MD">

              <h4 class="c-jisc-footer__section-title">Primary navigation</h4>
              <ul class="c-jisc-footer__list">
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="TODO">Service reporting</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="TODO">R&amp;D project reporting</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="TODO">Your account manager</a>
                </li>
              </ul>

            </div>
            <div class="o-grid__item u-3/12@MD">

              <h4 class="c-jisc-footer__section-title">Contact</h4>
              <ul class="c-jisc-footer__list">
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="mailto:help@jisc.ac.uk">help@jisc.ac.uk</a>
                </li>
                <li class="c-jisc-footer__list-item">0300 300 2212</li>
                </li>
                <li class="c-jisc-footer__list-item">07:00 - 12 midnight (Mon - Fri)</li>
              </ul>

            </div>
          </div>
        </div>
      </section>



      <section class="c-jisc-footer__section c-jisc-footer__section--jisc">
        <div class="o-layout__container">
          <div class="o-grid">
            <div class="o-grid__item u-6/12@MD">

              <div class="c-jisc-footer__jisc-brand">
                <h3 class="c-jisc-footer__jisc-logo">
                  <a class="c-jisc-logo" href="https://www.jisc.ac.uk/" title="Go to the Jisc homepage">
                    <img class="c-jisc-logo__img c-jisc-logo__img--jisc-footer" src="/img/jisc-logo.svg" alt="Jisc">
                  </a>
                </h3>
                <div class="c-jisc-footer__jisc-vision">
                  <div class="c-jisc-footer__copy">
                    <p>Vision statement. We’re a membership organisation, providing digital solutions for UK education and research.</p>
                  </div>
                  <p class="c-jisc-footer__jisc-homepage-copy">
                    <a class="c-jisc-footer__jisc-homepage-link" href="https://www.jisc.ac.uk">jisc.ac.uk</a>
                  </p>
                </div>
              </div>

            </div>
            <div class="o-grid__item u-3/12@MD">

              <h4 class="c-jisc-footer__section-title">Jisc product areas</h4>
              <ul class="c-jisc-footer__list">
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/connectivity">Connectivity</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/network/security">Cyber security</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/network/cloud">Cloud</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/analytics">Data and analytics</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/libraries-and-research">Libraries, learning resources and research</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/student-experience">Student experience</a>
                </li>
                <li class="c-jisc-footer__list-item">
                  <a class="c-jisc-footer__list-item-link" href="https://www.jisc.ac.uk/advice">Advice and guidance</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </section>



      <section class="c-jisc-footer__section c-jisc-footer__section--legal">
        <div class="o-layout__container">

          <h3 class="c-jisc-footer__legal-title">Legal</h3>

          <ul class="c-jisc-footer__legal-list c-jisc-footer__legal-list--primary">
            <li class="c-jisc-footer__legal-list-item c-jisc-footer__legal-list-item--first">
              <a class="c-jisc-footer__legal-link" href="https://www.jisc.ac.uk/website/privacy-notice">Privacy</a>
            </li>
            <li class="c-jisc-footer__legal-list-item">
              <a class="c-jisc-footer__legal-link" href="https://www.jisc.ac.uk/website/cookies">Cookies</a>
            </li>
            <li class="c-jisc-footer__legal-list-item">
              <a class="c-jisc-footer__legal-link" href="TODO">Accessibility</a>
            </li>
          </ul>

        </div>
      </section>



    </footer>





    <script src="/js/all.body.min.js"></script>

  </body>
</html>