<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Page header</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
  </head>

  <body>





    <main class="c-structure__main-content" id="main-content" role="main">



      <div class="c-structure__major-content">



        <div class="c-page-header-slice">

          <div class="c-washing-line c-washing-line--page-header">
            <div class="o-layout__container">
              <div class="c-washing-line__inner">
              </div>
            </div>
          </div>

          <header class="c-page-header-slice__header">
            <div class="o-layout__container">
              <div class="c-page-header-slice__header-inner">

                <div class="o-grid o-grid--asymmetric@MD">
                  <div class="o-grid__item u-9/12@MD">

                    <h1 class="c-page-header-slice__title">Page title</h1>

                  </div>
                </div>

              </div>
            </div>
          </header>

        </div>



        <div class="c-page-header-slice">

          <div class="c-washing-line c-washing-line--page-header">
            <div class="o-layout__container">
              <div class="c-washing-line__inner">
              </div>
            </div>
          </div>

          <header class="c-page-header-slice__header">
            <div class="o-layout__container">
              <div class="c-page-header-slice__header-inner">

                <div class="o-grid o-grid--asymmetric@MD">

                  <div class="o-grid__item u-9/12@MD">

                    <h1 class="c-page-header-slice__title">Page title could be like really <strong>really</strong> long in Jisc-world</h1>

                    <p class="c-page-header-slice__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis, <strong>ligula id luctus faucibus</strong>, sem mi viverra massa, vel <a href="wrgrewgerg">tristique nibh metus</a> ut odio. Pellentesque sed auctor purus. <abbr title="New Age movement">Nam</abbr> laoreet, sapien sed posuere tempor.</p>

                  </div>

                </div>

              </div>
            </div>
          </header>

        </div>



        <div class="c-page-header-slice">

          <div class="c-washing-line c-washing-line--page-header">
            <div class="o-layout__container">
              <div class="c-washing-line__inner">
              </div>
            </div>
          </div>

          <header class="c-page-header-slice__header">
            <div class="o-layout__container">
              <div class="c-page-header-slice__header-inner">

                <div class="o-grid o-grid--asymmetric@MD">

                  <div class="o-grid__item u-9/12@MD">

                    <h1 class="c-page-header-slice__title">Artifex Press Catalogues Raisonnes 2018/20</h1>
                    <div class="c-page-header-slice__product-info">
                      <dl>
                        <div class="c-page-header-slice__product-info-group">
                          <dt class="c-page-header-slice__product-info-heading c-page-header-slice__product-info-heading--first">Start:</dt>
                          <dd class="c-page-header-slice__product-date">01 January 2018</dd>
                        </div>
                        <div class="c-page-header-slice__product-info-group">
                          <dt class="c-page-header-slice__product-info-heading">Expiry:</dt>
                          <dd class="c-page-header-slice__product-date">31 December 2020</dd>
                        </div>
                        <dt class="c-page-header-slice__product-info-heading c-page-header-slice__product-info-heading--visuallyhidden">Description:</dt>
                        <dd class="c-page-header-slice__product-description-summary">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis, ligula id luctus faucibus, sem mi viverra massa, vel tristique nibh metus ut odio. Pellentesque sed auctor purus. Nam laoreet, sapien sed posuere tempor.</p>
                        </dd>
                        <dt class="c-page-header-slice__product-info-heading--visuallyhidden">Publisher:</dt>
                        <dd class="c-page-header-slice__product-publisher-title">Artifex Press LLC</dd>
                      </dl>
                    </div>
                    
                    <div class="c-page-header-slice__wishlist">
                      <p class="c-page-header-slice__wishlist-title">Wishlist:</p>
                      <ul class="c-page-header-slice__wishlist-options">
                        <li class="c-page-header-slice__wishlist-item c-page-header-slice__wishlist-item--first">
                          <a class="c-page-header-slice__wishlist-cta-link" href="#@implementation-1">
                            <i class="far fa-heart"></i>
                            <span>Save to wishlist</span>
                          </a>
                        </li>
                      </ul>
                    </div>

                  </div>
                    
                </div>  

              </div>
            </div>
          </header>

        </div>



        <div class="c-page-header-slice">

          <div class="c-washing-line c-washing-line--page-header">
            <div class="o-layout__container">
              <div class="c-washing-line__inner">
              </div>
            </div>
          </div>

          <header class="c-page-header-slice__header">
            <div class="o-layout__container">
              <div class="c-page-header-slice__header-inner">

                <div class="o-grid o-grid--asymmetric@MD">

                  <div class="o-grid__item u-9/12@MD">

                    <h1 class="c-page-header-slice__title">Artifex Press Catalogues Raisonnes 2018/20</h1>
                    <div class="c-page-header-slice__product-info">
                      <dl>
                        <div class="c-page-header-slice__product-info-group">
                          <dt class="c-page-header-slice__product-info-heading c-page-header-slice__product-info-heading--first">Start:</dt>
                          <dd class="c-page-header-slice__product-date">01 January 2018</dd>
                        </div>
                        <div class="c-page-header-slice__product-info-group">
                          <dt class="c-page-header-slice__product-info-heading">Expiry:</dt>
                          <dd class="c-page-header-slice__product-date">31 December 2020</dd>
                        </div>
                        <dt class="c-page-header-slice__product-info-heading c-page-header-slice__product-info-heading--visuallyhidden">Description:</dt>
                        <dd class="c-page-header-slice__product-description-summary">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis, ligula id luctus faucibus, sem mi viverra massa, vel tristique nibh metus ut odio. Pellentesque sed auctor purus. Nam laoreet, sapien sed posuere tempor.</p>
                        </dd>
                        <dt class="c-page-header-slice__product-info-heading--visuallyhidden">Publisher:</dt>
                        <dd class="c-page-header-slice__product-publisher-title">Artifex Press LLC</dd>
                      </dl>
                    </div>
                    
                    <div class="c-page-header-slice__wishlist">
                      <p class="c-page-header-slice__wishlist-title">Wishlist:</p>
                      <ul class="c-page-header-slice__wishlist-options">
                        <li class="c-page-header-slice__wishlist-item c-page-header-slice__wishlist-item--first">
                          <i class="fas fa-heart"></i> Saved to wishlist
                        </li>
                        <li class="c-page-header-slice__wishlist-item">
                          <a class="c-page-header-slice__wishlist-cta-link" href="#@implementation-3">
                            <span>View list</span>
                          </a>
                        </li>
                      </ul>
                    </div>

                  </div>
                    
                </div>  

              </div>
            </div>
          </header>

        </div>



      </div>



    </main>





    <script src="/js/all.body.min.js"></script>

  </body>
</html>