<!DOCTYPE html>
<html class="o-layout c-structure no-js" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Jisc">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="application-name" content="Jisc">
    <meta name="msapplication-TileColor" content="#e85e13">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#e85e13">
    <meta name="theme-color" content="#e85e13">
    <title>Spotlight slice</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/all.head.min.js"></script>
  </head>

  <body>





    <main class="c-structure__main-content" id="main-content" role="main">



      <div class="c-structure__major-content">



        <section class="c-spotlight-slice" style="">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-8/12@SM">
                <h2 class="c-spotlight-slice__title">Quis autem vel eum iure</h2>
                <div class="c-spotlight-slice__copy">
                  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



        <section class="c-spotlight-slice" style="background-color: #737; background-image: url(http://www.jisc.ac.uk/sites/default/files/library-support-2_0.png); background-repeat: no-repeat; background-size: cover;">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-8/12@SM">
                <h2 class="c-spotlight-slice__title">Quis autem vel <strong>eum iure</strong></h2>
                <div class="c-spotlight-slice__copy">
                  <p>Ut enim ad minima veniam, quis nostrum exercitationem <a href="ouhrglij">ullam corporis suscipit laboriosam</a>, nisi ut aliquid ex ea commodi consequatur.</p>
                </div>
              </div>
              <div class="o-grid__item u-4/12@SM">
                <div class="c-spotlight-slice__img">
                  <img src="http://www.jisc.ac.uk/sites/default/files/ms-idea.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



        <section class="c-spotlight-slice" style="background-color: #a22578;">
          <div class="o-layout__container">
            <div class="o-grid">
              <div class="o-grid__item u-8/12@SM">
                <h2 class="c-spotlight-slice__title">
                  <a href="twqet">Quis autem vel eum iure</a>
                </h2>
                <div class="c-spotlight-slice__copy">
                  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
                </div>
              </div>
              <div class="o-grid__item u-4/12@SM">
                <div class="c-spotlight-slice__img">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlCCe_D9-Uh0-c9LrLO6ysCFTJiOxB16o3cgatNzTbZRgqxtnI" alt="">
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>XxXxXxXxXxXxXxXxXxXxXxXxXxXxXx:<br><br><br><br><br>



      </div>



    </main>





    <script src="/js/all.body.min.js"></script>

  </body>
</html>