<header class="c-structure__jisc-masthead" role="banner">



    <p>
        <a class="c-main-content-skiplink" href="#main-content">
            <span class="c-main-content-skiplink__copy">Skip to main content</span>
        </a>
    </p>



    <div class="c-jisc-banner">
        <div class="o-layout__container">
            <div class="c-jisc-banner__inner">

                <p class="c-jisc-banner__jisc-brand">
                    <a class="c-jisc-logo c-jisc-banner__jisc-logo" href="//www.jisc.ac.uk/" title="Go to the Jisc homepage">
                        <img class="c-jisc-logo__img c-jisc-logo__img--jisc-banner" src="/themes/jiscfe/img/jisc-logo.svg" alt="Jisc">
                    </a>
                </p>


            </div>
        </div>
    </div>
<div class="c-jisc-header c-jisc-header--site-header c-jisc-header--has-subtitle-and-nav">

    <div class="o-layout__container">

        <div class="c-jisc-header__titles-supersegment">

            <div class="c-jisc-header__title-segment">
                <p class="c-jisc-header__title">
                    <a class="c-jisc-header__title-link" href="//www.jisc.ac.uk">JiscMail</a>
                </p>
            </div>

            <div class="c-jisc-header__subtitle-and-menu-trigger-segment">

                <div class="c-jisc-header__subtitle-subsegment">
                    <p class="c-jisc-header__subtitle">Subtitle can be quite long at times or even longer or may even be really really long</p>
                </div>

                <div class="c-jisc-header__menu-trigger-subsegment">
                    <p class="c-jisc-header__menu-trigger">
                        <a class="c-jisc-header__menu-trigger-button" href="#TODO">
                            <span class="c-jisc-header__menu-trigger-copy">Menu</span>
                            <svg class="svg-inline--fa fa-bars fa-w-14 c-jisc-header__menu-trigger-icon" aria-hidden="true" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-bars c-jisc-header__menu-trigger-icon" aria-hidden="true"></i> -->
                        </a>
                    </p>
                </div>

            </div>

        </div>

    </div>

    <div class="c-jisc-header__menu-supersegment c-jisc-header__menu-supersegment--tabbed is-closed">
        <div class="o-layout__container">


            <nav class="c-jisc-header__tabbed-nav c-jisc-header__tabbed-nav--primary" aria-labelledby="site-navigation">
                {{ page.primary_menu }}
                {#<p class="c-jisc-header__nav-title">Site navigation:</p>#}
                {#<ul class="c-jisc-header__tabbed-nav-list">#}
                    {#<li class="c-jisc-header__tabbed-nav-item c-jisc-header__tabbed-nav-item--first">#}
                        {#<a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link c-jisc-header__tabbed-nav-copy--current" href="uiwgerfiugb" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Current link</a>#}
                    {#</li>#}
                    {#<li class="c-jisc-header__tabbed-nav-item">#}
                        {#<span class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--current" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Current span</span>#}
                    {#</li>#}
                    {#<li class="c-jisc-header__tabbed-nav-item">#}
                        {#<a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link c-jisc-header__tabbed-nav-copy--current" href="//www.jisc.ac.uk" aria-current="page"><span class="c-jisc-header__current-page-copy">Current page: </span>Visited current link</a>#}
                    {#</li>#}
                    {#<li class="c-jisc-header__tabbed-nav-item">#}
                        {#<a class="c-jisc-header__tabbed-nav-copy c-jisc-header__tabbed-nav-copy--link" href="//www.jisc.ac.uk">Visited link</a>#}
                    {#</li>#}
                {#</ul>#}
            </nav>

        </div>
    </div>

</div>
</header>

<main class="o-layout__main-content" id="main-content" role="main">

    <div class="c-structure__major-content">



        <div class="c-generic-slice c-generic-slice--light-bg c-generic-slice--last">
            <div class="o-layout__container">





                <div class="o-grid">
                    <div class="o-grid__item u-9/12@MD">





    {{ page.content }}


                    </div>
                </div>
            </div>

                </div>


            </div>

</main>


